<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" href="{% static './bootstrap-4.3.1/css/bootstrap.css' %}" type="text/css"/>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static './bootstrap-4.3.1/css/bootstrap.css' %}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'css/ini.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'javascript/coba.js' %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function() {
			$.ajaxSetup({ cache: false });
			$.getJSON('/add/django/', function(data) {
				data = JSON.parse(data);
				$.each(data.stasiun, function(i, f) {
					if (f.code.search("A") != -1 || f.location.search("A") != -1){
						var tblRow = "<tr>" + "<td>" + f.code + "</td>" + "<td>" + f.location + "</td>"
						console.log(f.code);
						$(tblRow).appendTo("#userdata tbody");
					}
				});
			});
			$('#search').keyup(function(e){
				if(e.which <= 90 && e.which >= 48){
					$('#userdata tbody').html('');
					var stasiun = [];
					var searchField = $('#search').val();
					var expression = new RegExp(searchField, "i");
					$.getJSON('/add/django/', function(data) {
						data = JSON.parse(data);
						$.each(data.stasiun, function(i, f) {
							if (f.code.search(expression) != -1 || f.location.search(expression) != -1){
								var tblRow = "<tr>" + "<td>" + f.code + "</td>" + "<td>" + f.location + "</td>" + "</tr>"
								console.log(f.code);
								$(tblRow).appendTo("#userdata tbody");
							}
						});
					});
				};
			});
		});
	</script>
</head>
	<body id = "main">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="/">Parkingin</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					<a class="nav-item nav-link" href="/book/">Book</a>
					<a class="nav-item nav-link" href="/history/">History</a>
					<a class="nav-item nav-link active" href="/add/">Request Places</a>
				</div>
				<ul class = "navbar-nav mr-auto">
						{% csrf_token %}
						{% if user.is_authenticated %}
						<a class="nav-item nav-link mr-auto", href="{% url 'apptk:logout' %}">Logout</a>
						{% endif %}
					
				</ul>
				<label class="switch">
					<input type="checkbox" onclick="darkLight()" id="checkBox" >
					<span class="slider"></span>
				</label>
			</div>
		</nav>
		{% csrf_token %}
        {% if user.is_authenticated %}
      	{% else %}
		<a href="{% url 'apptk:signin' %}"><strong>Login</strong></a>
		<br>
		<a href="{% url 'apptk:signup' %}"><strong>Register New Account</strong></a>
      	{% endif %}
		<div class= "Heading text-center">
			<p></p>
			<h1> Request Place</h1>
		</div>
		<br>
		<h5 class = "text-center" style = "margin-bottom: 2%"> Tambah stasiun </h5>
		<br>
		<div class = "cek text-center">
			<form action="/add/" method="post">
				<div class = "form-group text-center">
					{% csrf_token %}
					{{ form }}
				</div>
				{% if user.is_authenticated %}
				<input class="btn btn-primary" type="submit" value="Submit">
				{% endif %}
				
			</form>
		</div>
		<div class= "Heading text-center" style= "margin-top:3%">
			<p></p>
			<h5> Cek Stasiun</h5>
			<p></p>
			<img src="{% static 'images/stasiunkota.jpg' %}" class="contact img-fluid" alt="Responsive image" width = "60%">
			<p></p>
		</div>
		<div class = "rusak" style = "padding-left:35; margin:auto; max-width: 32%; padding-bottom: 1%">
			<div class = "container">
				<div class = "cia">
					<input type="text" style = "max-height:70%" class = "form-control form-control-lg" id="search" placeholder="" autocomplete = "off">
				</div>
			</div>
		</div>
		<div class="wrapper text-center" style = "margin-left: 35%; max-width: 30%;">
			<div class="profile" style = "max-height: 199px; overflow: auto">
				<table class = "table table-bordered" style = "border: 1px solid #ddd !important;" id= "userdata">
					<thead class="thead-light">
						<tr>
							<th>Code</th>
							<th class = "col-6">Location</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<p></p>
		</div>
		<br>
		<h5 class ="text-center" style = "margin-bottom:1.2%"> Frequently Asked Question </h5>
		<div class = "coba" style = "margin-bottom:10%">
			<div class="accordion-container tex-center" style = "max-width:54%">
				<div class="set">
					<a href="#">
						What is this?
						<i class="fa fa-plus"></i>
					</a>
					<div class="content">
						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
					</div>
				</div>
				<div class="set">
					<a href="#">
						How the request work?
						<i class="fa fa-plus"></i>
					</a>
					<div class="content">
						<p> Kamu dapat memasukan stasiun yang ingin kamu tambahkan pada form diatas, permintaan tersebut kemudian akan masuk ke admin dan diproses.</p>
					</div>
				</div>
				<div class="set">
					<a href="#">
						How long does it takes?
						<i class="fa fa-plus"></i>
					</a>
					<div class="content">
						<p> Hal tersebut tergantung dengan responsibilitas dari parkingin. Namun biasanya sekitar 1-1,5 bulan </p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>	
