<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>History</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static './bootstrap-4.3.1/css/bootstrap.css' %}" type="text/css"/>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'css/ini.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'javascript/coba.js' %}"></script>
</head>
	<body id="main">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="/">Parkingin</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="{% url 'apptk:home' %}">Home <span class="sr-only">(current)</span></a>
					<a class="nav-item nav-link active" href="/book/">Book</a>
					<a class="nav-item nav-link " href="/history/">History</a>
					<a class="nav-item nav-link" href="/add/">Request Places</a>
				</div>
				<ul class = "navbar-nav mr-auto">
						{% csrf_token %}
						{% if user.is_authenticated %}
						<a class="nav-item nav-link mr-auto", href="{% url 'apptk:logout' %}">Logout</a>
						{% endif %}
				</ul>
				<label class="switch">
					<input type="checkbox" onclick="darkLight()" id="checkBox" >
					<span class="slider"></span>
				</label>
			</div>
		</nav>
		
		{% csrf_token %}
        {% if user.is_authenticated %}
		{%for tempat_parkir in daftar_parkir%}
		<div class="box" style="margin: auto; max-width: 700px; border: 2px solid black; margin-top: 1%; font-weight: bold;">
			<p > Nama Tempat Parkir : {{tempat_parkir.nama_tempat}}</p>				
			<p> Lokasi : {{tempat_parkir.lokasi}}</p>
			<p> Jam : {{tempat_parkir.jam}}</p>
		</div>
		{%endfor%}
      	{% else %}
		<a href="{% url 'apptk:signin' %}"><strong>Login</strong></a>
		<br>
		<a href="{% url 'apptk:signup' %}"><strong>Register New Account</strong></a>
      	{% endif %}
		
		<div>
			<h2 style="text-align: center;"> Daftar Riwayat </h2>
		</div>
	</body>
</html>	
