<!DOCTYPE html>
{% load static %}
<html lang="en" class="b-white">
    <head>
        <title>Homepage</title>    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <link rel="stylesheet" href="{% static './bootstrap-4.3.1/css/bootstrap.css' %}" type="text/css"/>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static './bootstrap-4.3.1/css/bootstrap.css' %}" type="text/css"/>
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="/">Parkingin</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="{% url 'apptk:home' %}">Home <span class="sr-only">(current)</span></a>
					<a class="nav-item nav-link active" href="/book/">Book</a>
					<a class="nav-item nav-link " href="/history/">History</a>
					<a class="nav-item nav-link" href="/add/">Request Places</a>
					{% csrf_token %}
					{% if user.is_authenticated %}
					<a class="nav-item nav-link mr-auto", href="{% url 'apptk:logout' %}">Logout</a>
					{% endif %}
				</div>

				
			</div>
		</nav>
		{% csrf_token %}
        {% if user.is_authenticated %}
      	{% else %}
		<a href="{% url 'apptk:signin' %}"><strong>Login</strong></a>
		<br>
		<a href="{% url 'apptk:signup' %}"><strong>Register New Account</strong></a>
      	{% endif %}
		<img src="{% static 'images/Head.png' %}" class="test img-fluid" alt="Responsive image" width = "100%">
		
		<img src="{% static 'images/Model.png' %}" class="test img-fluid" alt="Responsive image" width = "100%">
		<!--
		<div class="card-group">
			<div class="card bg-white">
				<div class="card-body">
					<h2 class="font-weight-bold" style= "color: black">Sign in to Park</h2>
					<p>
					<br>
					</p>
				</div>
				<button type="button" class="btn btn-white">Sign In</button>
			</div>
			<div class="card bg-white">
				<div class="card-body">
					<h2 class="font-weight-bold" style= "color: black">Sign up to park</h2>
					<p></p>
					<p></P>
					<p></P>
				</div>
				<button type="button" class="btn btn-white">Sign Up</button>
			</div>
		</div>
		-->
		<img src="{% static 'images/socmed.png' %}" class="contact img-fluid" alt="Responsive image" width = "100%">
	</body>
</html>
