<!DOCTYPE html>
{% load static %}
<html lang="en" class="b-white">
    <head>
        <title>Homepage</title>    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/ini.css' %}">
        <link rel="stylesheet" href="{% static 'static/css/style.css' %}">
        <link rel="stylesheet" href="{% static './bootstrap-4.3.1/css/bootstrap.css' %}" type="text/css"/>
    </head>
    <body style="width: 100%; height: 100%;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Parkingin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    
                </div>
                <ul class = "navbar-nav mr-auto">
                </ul>
                <label class="switch">
                    <input type="checkbox" onclick="darkLight()" id="checkBox" >
                    <span class="slider"></span>
                </label>
            </div>
        </nav>
        <center><div style="background-color: rgb(15, 119, 255); width: 100%; height: 10%; margin-top: 4%;">
        <p>      </p></div>

        <div class="formm" , style="width: 35%; height: 450px; border: 4px solid black; text-align:center" >
            <p id="judul" , style="text-align: center; font-size: 220%; font-weight: bold;"> Selamat Datang User</p>
            <br>
            <br>
            <form  method="POST">
            {% csrf_token %}
            {% for field in form %}
                <!-- {{ field.errors }} -->
                <!-- <input type="text"> -->
                {{ field.label_tag }}{{ field }}
                <br>
                <br>
            {% endfor %}
            <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
        </center>
	</body>
</html>
